# DATA SCIENCE TOOLS AND ECOSYSTEM

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Tensorflow
3. Pandas
4. Keras

|Data Science Tools|
| -----------------|
|SAS|
|APACHE HADOOP|
|TENSORFLOW|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(7*10)+5

75

In [4]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
mins=200
hours=mins/60
print(hours)

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List of well known Data Science tools
- How to provide comments in cells

## Author
Krishitaa Balamurali